.QuizQuestion {
  display: flex;
  justify-content: center;
  font-size: 2em;
  text-align: center;
  width: 100%;
}
.QuizEnd {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  font-size: 2em;
  padding-top: 20px;
}
.QuizEnd a {
  display: block;
  padding-top: 20px;
}
ul {
  padding: 0;
  margin: 0;
}
.buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}
button {
  margin: 0.6em auto;
  font-size: 1.5em;
  display: block;
  width: 150px;
  height: 50px;
}

main {
  width: 100%;
}
.alert-box {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  display: none;
}

.failure {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  display: none;
}

.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  display: none;
}
.score {
  top: 20px;
  right: 50px;
  width: 150px;
  font-size: 15px;
  height: 40px;
}
body {
  height: 100vh;
  background-image: url("./quiz2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}
.name-input {
  background-color: #a944428a;
}
.logo {
  font-size: 20px;
  height: 80px;
}
.quiz-app {
  width: 200px;
}
button:focus {
  outline: none !important;
  background-color: #a94442;
}
